	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #4E4D4D;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		width: 1200px;
		margin: 0px auto;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 4em;
		text-align: center;
	}
	
	.major h2
	{
	
		
		font-size: 2em;
		font-weight: 700;
		color: #3f3f3f;
	}

	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 1em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3f3f3f;
	}

	.title .byline
	{
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: #3f3f3f;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #3f3f3f;
		
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		font-family: 'GE_SS_Two_Medium', sans-serif;
		font-size: 12pt;
		padding: 1em 0em;
		text-transform: uppercase;
		background: #F6F4F3;
		
	}

	#logo h1
	{
		text-align: right;
		font-weight: 900;
		font-size: 2em;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #3f3f3f;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		font-family: 'GE_SS_Two_Medium', sans-serif;
		font-size: 12pt;
		margin: 0;
		padding: 5px 0px 5px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu a:hover
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 1em 0em;
		border-top: 3px solid #E5E5E5;
		font-family: Arial, sans-serif;
		font-size:20px;
		
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: right;
		width: 588px;
	}
	
	#content .title
	{
		padding-bottom: 2em;
		text-align: right;
	}
	
	#content h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: left;
		width: 588px;
		position:absolute;
		top:100px;
		left:20px;
		padding:10px;
		background-color:#eee;
		border:1px dashed #999;
		line-height:40px;
		/* Again, the ugly brilliant hack. */
		voice-family: "\"}\"";
		voice-family:inherit;
		width:180px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}

.error {
	
	background: #FFFF99;
	border:1px dashed #999;
	font-family: 'GE_SS_Two_Medium', sans-serif;	
    color:#FF0033;
	text-align: center;
	}
	
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		border-top: 3px solid #E5E5E5;
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
	}
	
	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 6em;
		text-align: center;
		color: #3f3f3f;
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2
	{
		float: left;
		margin-right: 24px;
	}
	
	.column3
	{
		float: left;
	}
	
	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		padding: 6em 0em;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}
	
	#portfolio img
	{
		margin: 0;
		padding: 0;
	}
	
	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-bottom: 2px solid #7C7C7C;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}

	
	#login-form
{
	margin-top:10px;
}
    #table1
{
	border:solid #dcdcdc 1px;
	padding:25px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
   #table1 tr,td
{
	padding:5px;
	//border:solid #e1e1e1 1px;
}
   #table1 tr td input
{
	width:97%;
	height:40px;
	border:solid #e1e1e1 1px;
	border-radius:3px;
	padding-left:10px;
	font-family:Arial, sans-serif;
	font-size:18px;
	background:#f9f9f9;
	transition-duration:0.5s;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

    #table1 tr td button
{
	width:100%;
	height:45px;
	border:0px;
	background:rgba(12,45,78,11);
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:3px;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	color:#f9f9f9;
	font-family:GE_SS_Two_Medium, sans-serif;
	font-size:18px;
	font-weight:bolder;
	text-transform:uppercase;
}
    #table1 tr td button:active
{
	position:relative;
	top:1px;
}
    #table1 tr td a
{
	text-decoration:none;
	color:#00a2d1;
	font-family:Arial, sans-serif;
	font-size:18px;
}



fieldset {
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
} 